body {
    background-color: $primary-color;
    color: $secondary-color;
    font-size: 1.5rem;
    margin: 0rem;
    font-family: 'Orbitron';
}

h2 {
    font-size: 1.75rem;
    margin: 0rem;
}

p {
    margin: 0rem;
}