$primary-color: #0B0D32;
$secondary-color: #FFFFFF;
$tertiary-color: #ABAFED;
$quaternary-color: #F08119;
$quinary-color: #06D6A0;

@font-face {
    font-family: 'Orbitron';
    src: url('../fonts/Orbitron/Orbitron-VariableFont_wght.ttf');
}