<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="../css/site.css" type="text/css">
  <script src="../javascript/pages/index.js"></script>
</head>

<body>
  <main class="home">
    <div class="home__web">
      <div class="home__web__column home__web__column--left">
        <div class="home__web__node-container home__web__node-container--child">
          <a class="home__web__node-body">
            <i class="home__web__node-text fa fa-user-astronaut"></i>
          </a>
          <div class="home__web__node-description">
            <h2>About Me</h2>
          </div>
          <svg class="home__web__node__connector-svg">
            <line class="home__web__node__connector-line" stroke-width="0.25rem" stroke="#FFFFFF" x1="0" y1="0" x2="100"
              y2="100" />
          </svg>
        </div>
        <div class="home__web__node-container home__web__node-container--child">
          <a class="home__web__node-body">
            <p class="home__web__node-text">Find out more</p>
          </a>
          <div class="home__web__node-description">
            <h2>Ongoing</h2>
          </div>
          <svg id="home__web__node__connector-svg--"
            class="home__web__node__connector-svg home__web__node__connector-svg--">
            <line id="home__web__node__connector-line--"
              class="home__web__node__connector-line home__web__node__connector-line--" stroke-width="0.25rem"
              stroke="#FFFFFF" x1="0" y1="0" x2="100" y2="100" />
          </svg>
        </div>
      </div>

      <div id="home__web__column--centre" class="home__web__column home__web__column--centre">
        <div id="home__web__node-container--centre" class="home__web__node-container">
          <a class="home__web__node-body">
            <p class="home__web__node-text">Find out more</p>
          </a>
          <div class="home__web__node-description">
            <h2>John Dunsmuir</h2>
            <p>Developer</p>
          </div>
        </div>
      </div>
      <div class="home__web__column">
        <div class="home__web__node-container home__web__node-container--child">
          <a class="home__web__node-body">
            <i class="fa fa-camera-retro"></i>
          </a>
          <div class="home__web__node-description">
            <h2 class="home__web__node-text">Projects</h2>
          </div>
          <svg id="home__web__node__connector-svg--"
            class="home__web__node__connector-svg home__web__node__connector-svg--">
            <line id="home__web__node__connector-line--"
              class="home__web__node__connector-line home__web__node__connector-line--" stroke-width="0.25rem"
              stroke="#FFFFFF" x1="0" y1="0" x2="100" y2="100" />
          </svg>
        </div>
        <div class="home__web__node-container home__web__node-container--child">
          <a class="home__web__node-body">
            <p class="home__web__node-text">Find out more</p>
          </a>
          <div class="home__web__node-description">
            <h2>Contact</h2>
          </div>
          <svg id="home__web__node__connector-svg--"
            class="home__web__node__connector-svg home__web__node__connector-svg--">
            <line id="home__web__node__connector-line--"
              class="home__web__node__connector-line home__web__node__connector-line--" stroke-width="0.25rem"
              stroke="#FFFFFF" x1="0" y1="0" x2="100" y2="100" />
          </svg>
        </div>
      </div>
    </div>
  </main>
</body>

</html>