.home {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.home__web {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.home__web__column {
    @include web-node-column;
    justify-content: space-evenly;
    opacity: 0%;
    transition: all 1s ease-in-out;
}

.home__web__column--centre {
    justify-content: center;
    opacity: 100%;
}

.home__web__column--hidden {
    visibility: hidden;
}

.home__web__column--shown {
    opacity: 100%;
}

.home__web__node-body {
    @include web-node;
}

.home__web__node-body:hover {
    border: 0.5rem solid $quinary-color;
    box-shadow: 0rem 0rem 5rem #06D6A0;
}

.home__web__node-text {
    font-size: 5rem;
    width: 100%;
}

.home__web__node-text--centre {
    font-size: 1.75rem;
}

.home__web__node-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.home__web__node-container--invisible {
    // opacity: 0%;
}

.home__web__node-container--hidden {
    // display: none;
}

.home__web__node-description {
    text-align: center;
}

.home__web__node__connector-svg {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}